body{
  position: relative;
  margin-top: 90px;
}

footer {
  height: 100px;
}
.footer-content {
  text-align: center;
}
.social {
  font-size: 2.2rem;
  margin: 1rem;
}

/* Navbar */
.navbar {
  width: 100vw;
}

.navbar-toggler {
  border: none;
  }
  
.navbar-toggler:active,
.navbar-toggler:focus {
  box-shadow: none;
}
  
.navbar-nav .nav-link {
   font-weight: 600;
   margin: 0 0.7rem;
}
  
.navbar-toggler .icon-bar {
  display: block;
  background-color: #6d6d6d;
  height: 2px;
  width: 22px;
  margin: 4px 0;
  border-radius: 5px;
  opacity: 1;
  transition: all 0.3s ease-out;
  transform-origin: center left;
}
  
  /* Animate X */
.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
  transform: rotate(45deg);
  transform-origin: 10% 10%;
}
 
.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
}
 
.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
  transform: rotate(-45deg);
  transform-origin: 10% 90%;
}
  
  /* Animate Hamburger */
.navbar-toggler .icon-bar:nth-child(1) {
  transform: rotate(0);
}
  /* middle line goes back to regular color and opacity */
.navbar-toggler .icon-bar:nth-child(2) {
  opacity: 1;
}
  /* bottom line goes back to initial position and rotates back to 0 degrees */
  .navbar-toggler .icon-bar:nth-child(3) {
    transform: rotate(0);
  }

 
#bodyContent_divStamtavla{
  margin-top: 20px;
  margin-bottom: 50px;
  padding: 10px;
}

#bodyContent_divStamtavla :visited{
  color: rgba(168, 35, 35, 0.747);
}

#bodyContent_tblStamtavla{
  background-color: transparent;
  border-color: gainsboro;
  width: 100%;
  border-collapse: collapse;
} 

.stamtavla{
  font-size: 10pt;
  font-family: arial, verdana, helvetica, sans-serif;
}

.hälsa{
  font-size: 8pt;
}

.card-title{
  font-size: 17pt;
  font-family: arial, verdana, helvetica, sans-serif;
}

.salu{
  font-size: 8pt;
}
.regNr{
  font-size: 8pt;
}
.puppyimg {
  height: 100%;
}
.puppyimg img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

